.container{

}
.main-form{
    border: 1px solid blue;
    padding: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;

}
.field_input{
    width: 150px;
}
.form_field{
    width: 60px;
}
.button{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#id{
    width: 156px;
}
#chart_div{
    border: 1px solid blue;
    padding: 0px;
    height: 400px;
    max-width: 600px;;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
form{

}

@media (max-width:780px ) {
    .main-form{
        padding: 3px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
}
@media (max-width: 460px) {
    
}

