<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{css/main.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/chart.js" th:src="|@{/js/chart.js}|"></script>
    <script th:inline="javascript">
        function getRates(ratesShort) {
            /*[# th:each="n : ${ratesShort}"]*/
            ratesShort.push(["[(${n.date})]", [(${n.rate})]])
            /*[/]*/
        }
    </script>
</head>
<body>

<div class="main-form">
    <form id="rate-f" method="get">
        <table>
            <tr>
                <td>
                    <div class="form_field">Валюта
                    </div>
                </td>
                <td>
                    <select class="field_input" id="id" name="id">
                        <option
                                th:each="cur : ${currency}"
                                th:selected="${id==cur.id}"
                                th:text="${cur.name}"
                                th:value="${cur.id}">currency
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form_field">Дато от
                    </div>
                </td>
                <td>
                    <input class="field_input" type="date" name="start" th:max="${now}" th:value="${start}">

                </td>
            </tr>
            <tr>
                <td>
                    <div class="form_field">Дата до
                    </div>
                </td>
                <td>
                    <input class="field_input" type="date" name="end" th:max="${now}" th:value="${end}">
                </td>
            </tr>
        </table>
        <input class="button" type="submit" form="rate-f" value="Выполнить">
    </form>
</div>
<div id="chart_div"></div>

</body>
</html>